### Working with date and time in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'date1':['5-15-2017'],
                   'date2':['5/15-2017'],
                   'date3':['22-Apr-96'],
                   'date4':['Tue Aug 11 09:50:35 1996'],
                   'date5':['2007-06-22'],
                   'date6':['12:30:15 2015-29-11']
                  })

In [3]:
df

,date1,date2,date3,date4,date5,date6
0,5-15-2017,5/15-2017,22-Apr-96,Tue Aug 11 09:50:35 1996,2007-06-22,12:30:15 2015-29-11

#### Use pd.to_datetime() to convert the object data to date format. Pandas automatically detects the date format.

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html#pandas.to_datetime

In [4]:
df['date1']= pd.to_datetime(df['date1'])
df['date2']= pd.to_datetime(df['date2'])
df['date3']= pd.to_datetime(df['date3'])
df['date4']= pd.to_datetime(df['date4'])
df['date5']= pd.to_datetime(df['date5'])

In [5]:
date = '12:30:15 2015-29-11'
my_date= pd.to_datetime(date, format= '%H:%M:%S %Y-%d-%m')

###### If pandas by default doesn't convert the dates as expected use the format parameter

Documentation on formatting codes:

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [6]:
df['date6'] = pd.to_datetime(df['date6'],format= '%H:%M:%S %Y-%d-%m')

###### Extract day,month,year, hour, week etc  after converting the date

In [7]:
df['date6'].dt.day

0    29
Name: date6, dtype: int64

In [8]:
df['date3'].dt.month

0    4
Name: date3, dtype: int64

In [9]:
df['date3'].dt.year

0    1996
Name: date3, dtype: int64

In [10]:
df['date6'].dt.hour

0    12
Name: date6, dtype: int64

In [11]:
df['date6'].dt.minute

0    30
Name: date6, dtype: int64

In [12]:
df['date6'].dt.second

0    15
Name: date6, dtype: int64

In [13]:
df['date6'].dt.week

0    48
Name: date6, dtype: int64